/* -------- BASIC SETUP ---------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* -------- REUSUABLE COMPONENTS ---------------*/
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.col {
    padding: 1%;
}

.zoom {
    transition: transform 0.25s;
}
.zoom:hover {
    transform: scale(1.1);
}


/*------COMMONLY USED CLEARFIX IN WEB DESIGN, TO CLEAR FLOATS----*/
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* -------- HEADINGS ---------------*/
h1, h2, h3, h4 {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 180%;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 40px;
    font-weight: 300;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #df3124;;
    content: " ";
    width: 200px;
    margin: 25px auto 0 auto;
}

.header-paragraph {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
    text-align: center;
}

span {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 180%;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight: 300;
}

span:after {
    display: block;
    height: 2px;
    background-color: #fff;;
    content: " ";
    width: 200px;
    margin: 25px auto 0 auto;
}


/*-----------HEADER SECTION---------*/

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.3)), url("../images/landing-page-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.header h1 {
    color: #fff;
    position: absolute;
    width: 1140px;
    font-size: 400%;
    line-height: 125%;
    text-align: center;
    letter-spacing: 2px;

    /* Keeps this box centered */
    top: 28%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

.header-btn {
    position: absolute;
    /* Keeps this box centered */
    top: 71%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
}

.second-header {color: #df3124;}



/* ---------Navigation ----------*/
.main-nav {
    position: relative;
    width: 100%;
    background-color: #df3124;
    border-bottom: 1px solid white;
    height: 70px;
    padding-bottom: 15px;
}

.main-nav ul {
    
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 100%;
    vertical-align: middle;
    margin-top: 17px;
    padding-right: 105px;
}

.mid-nav-btn{
    text-decoration: none;
    color: #fff;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 80%; 
    text-transform: uppercase;
    
}

.mid-nav-btn:link,
.mid-nav-btn:visited {
    padding-bottom: 10px;
    border-bottom: solid thin transparent;
    transition: border 0.22s;
}

.mid-nav-btn:hover,
.mid-nav-btn:active {
    border-bottom: thin solid #fff;
}

.nav-envision-logo {
    position: relative;
    top: 2px;
    right: 55%;
    font-family: 'Audiowide', 'Arial', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 160%;
}

.nav-log-in-btn {
    position: relative;
    top: 0px;
    left: 250%;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}




/*--------BUTTONS----------*/

.btn:link,
.btn:visited {
    text-decoration: none;
    background-color: #fff;
    color: #df3124;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 1px;
    transition: color 0.25s, background-color 0.25s;
}

.btn:hover,
.btn:active {
    color: #fff;
    background-color: #df3124;
}

.btn-alt:link,
.btn-alt:visited {
    text-decoration: none;
    background-color: #fff;
    color: #df3124;
    font-weight: 500;
    padding: 10px 22px;
    border: 1px solid black;
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: color 0.25s, background-color 0.25s, border 0.25s, border-radius 0.25s, clip-path 0.25s;
}
.btn-alt:hover,
.btn-alt:active {
    color: #fff;
    background-color: #df3124;
    border: 1px solid transparent;
    border-radius: 0px;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}


/* ----------WHY WORK WITH US SECTION-----------*/

.section-why-work-with-us {
    margin: 30px 0;
}

.red-banner-heading {
    text-align: center;
    padding-top: 40px;
}
.red-banner-down-arrow {
    background-color:#df3124;
    width: 100%;
    height: 150px;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
}

.icon-big {
    font-size: 300%;
    display: inline-block;
    color: #df3124;
    text-align: center;
}

.section-work {
    width: 100%;
    text-align: center;
    font-size: 90%;
    line-height: 150%;
    
}
.section-work h3 {margin: 15px 0;}
.section-work p {text-align: center;}



/*----------FITNESS CLASSES SECTION----------*/

.section-fitness-classes{
    position: relative;
    margin: 10px auto;
    background-color: #f0f0f0;
}
.section-fitness-classes img {
    border: 1px solid #b1b1b1;
    border-radius: 10px;
}

.cardio img,
.yoga img,
.strength img,
.cycling img {
    width: 100%;
    height: auto;
}
.yoga img,
.cycling img {margin-top: 80px;}

.strength,
.cycling {
    margin-top: -120px;
}
.col1heading {
    position: relative;
    top: 60px;
    left: 60px;
}
.col2heading {
    position: relative;
    top: 140px;
    left: 60px;
}
.col1paragraph {
    position: relative;
    top: -280px;
    left: 40px;
}
.col1btn {
    position: relative;
    top: -90px;
    left: 25px;
}


/*----------Envision Testimonials Section--------*/


.section-envision-standard{
    position: relative;
    top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url("../images/background-image1-min.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.section-envision-standard p {
    color: #fff;
    text-align: left;
}

.section-envision-standard h2,
.section-envision-standard h2:after,
.section-envision-standard cite{
    text-align: center;
    color: #fff;
}

.section-envision-standard img {
    vertical-align: middle;
    margin: 0px 5px 20px 0px;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.testimonial-main {
    font-size: 90%;
    line-height: 160%;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10%;
    
}


/*---------Sign-up Section --------- */

.section-sign-up {
    background-color: #fff;
    padding-bottom: 30px;
}

.section-sign-up-first-third {
    background-color: #ff5858;
    width: 90%;
    border-radius: 6px;
    -webkit-box-shadow: 7px 7px 7px #c9c9c9;
    box-shadow: 7px 7px 7px #b6b6b6;
    
}

.section-sign-up-second-third {
    color: #fff;
    background-color: #272727;
    border-top: thin solid rgb(170, 170, 170);
}

.section-sign-up-third-third {
    background-color: #ff5858;
    border-top: thin solid rgb(170, 170, 170);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-sign-up h4 {
    font-size: 140%;
    padding: 15px;
    font-weight: 800;
}

.sign-up-price {
    display: inline-block;
    color: rgb(224, 191, 0);
    font-size: 280%;
    font-weight: 300;
    padding-left: 10px;

}
.sign-up-month {
    display: inline-block;
    color: rgb(224, 191, 0);
    margin-left: 12px;
    font-size: 100%;
}

.sign-up-per-meal {
    margin-top: 15px;
    font-size: 80%;
    padding-left: 15px;
    padding-bottom: 10px;
}

.sign-up-list {
    list-style: none;
    line-height: 170%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sign-up-list i {
    font-size: 70%;
    color: rgb(212, 183, 16);
    margin-right: 15px;
    padding-left: 15px;
    
}

.section-sign-up-third-third p {
    text-align: center;
    padding: 30px 0;
}


/*-----------CONTACT US SECTION-------------*/

.section-contact-us {
    background-color: #f0f0f0;
    padding: 30px 0;
}


.section-contact-us .btn {
    background-color: #df3124;
    color: #fff;
    transition: border 0.2s, background-color 0.2s, color 0.2s;
}
.section-contact-us .btn:hover {
    background-color: #fff;
    color: #df3124;
    border: thin solid black;
}

.contact-form {
    width: 60%;
    margin: 0 auto 0 auto;
}


input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: thin solid #ccc;
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0px;
}

input[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 8px 15px;
    border-radius: 0%;
    background-color: #fff;
    color: #df3124;
    transition: background-color 0.2s, color 0.2s;
}

input[type="submit"]:hover {
    background-color: #df3124;
    color: #fff;
}

*:focus {
    outline: none;
}



/*-----------FOOTER SECTION-------------*/

footer {
    position: relative;
    background-color: #333;
    color: #9c9c9c;
    font-size: 90%;
    text-align: center;
    padding: 20px 0;
}

.copyright-statement {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #5e5e5e;
}

.copyright-statement a{
    color: #9c9c9c;
    text-decoration: none;
    transition: color 0.22s;
}

.copyright-statement a:hover{
    color: #dadada;
}

.footer-icons,
.footer-links {list-style: none;}

.footer-icons li,
.footer-links li {
    display: inline-block;
    margin: 0 15px;
}

.footer-icons li a,
.footer-links li a {
    color: #858585;
    text-decoration: none;
    transition: color 0.22s;
}

.footer-links li a:hover {
    color: #dadada;
}

.footer-links {
    padding: 25px 0;
}
.footer-icons {
    padding-bottom: 20px;
}

.footer-links li {
    font-size: 100%;
}

.footer-icons li {
    font-size: 210%;
}


.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-instagram,
.fa-youtube,
.fa-github {
    -webkit-transition: color 0.26s;
    transition: color 0.26s;
}

.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #00aced;
}
.fa-google-plus:hover {
    color: #dd4b39;
}
.fa-instagram:hover {
    color: #517fa4;
}
.fa-youtube:hover {
    color: #bb0000;
}
.fa-github:hover {
    color: #eee;
}


/*---------WAYPOINTS for JS SCRIPT--------------*/

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9,
.wp10 {
    opacity: 0;
}
